body {
  background-image: url("https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}
 
.logo {
  width: 100px;
  height: 100px;
  margin: 2%;
}
  
header {
  height: 60px;
  width: 100%;
  background-color: #b79797;
}
 
.navbar, ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.li, a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
} 

#profile-pic {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    grid-column: 2/3;
    text-align: center;
  }
 
  h1 {
    color:white;
}
 
  h2 {
    color: white;
  }
 
  .small-text {
    color: white;
  }
 
  button {
    width: 170px;
    height: 60px;
    font-size: 16px;
    border-radius: 15px;
    text-align: center;
    background-color: #b79797;
    opacity: .7;
    letter-spacing: 4px;
  }