* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #888888;
}
.background {
  background-color: #fcf7ea;
  height: 2000px;
  width: 100%;
}

.logo, img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav {
  height: 10px;
  width: 100%;
  position: relative;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #888888;
  font-size: 18px;
  padding: 20px;
}

.cart {
  position: absolute;
  right: 5%;
  top: 10px;
  list-style: none;
}

.cart li a {
  font-size: 18px;
  color: #888888;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
}

nav .search-container {
  position: absolute;
  top: 5px;
  left: 20px;  
  width: 230px;
  border-bottom: solid 1px #888888;
}

nav input[type=text] {
  font-family: 'Quicksand', sans-serif;
  padding: 6px;
  width: 150px;
  margin-top: 20px;
  font-size: 17px;
  border: none;
  background-color: #fcf7ea;
}

nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 11px;
  background: #fcf7ea;
  border: none;
  cursor: pointer;
}

.main {
  position: absolute;
  top: 270px;
  background: url('./img/img.webp');
  background-position: center center;
  height: 100%;
  width: 100%;
  object-fit: contain;  
  background-repeat: no-repeat;
}

.footer {
  font-size: 14px;
  height: 150px;
  width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 960px;
  left: 35px;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.info a {
  text-decoration: none;
  color: #888888;
}

.visit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hours {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.social {  
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.email {  
  display: block;
  justify-content: flex-start;
  align-items: flex-start;  
  border-bottom: solid 1px #888888;
}

.email input[type=text] {
  font-family: 'Quicksand', sans-serif;
  padding: 6px;
  width: 160px;
  margin-top: 20px;
  font-size: 17px;
  border: none;
  background-color: #fcf7ea;
}

.email input[type=button] {
  font-family: 'Quicksand', sans-serif;
  padding: 6px 10px;
  margin-top: 1px;
  margin-right: 1px;
  background: #cb7b47;
  color: white;
  border: none;
  cursor: pointer;
}



@media (max-width: 576px) {

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
  }

  .line {
    width: 25px;
    height: 2px;
    background: #888888;
    margin: 5px;
  }

  .nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 20px;
    z-index: 2;
  }

  .nav-links {
    margin: 0;
    position: absolute;
    top: 0px;
    height: 800px;
    width: 100%;
    background-color: #fff1ce;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(10px at -10% 10%);
    transition: all 1s ease-out;
  }

  .nav-links.open {
    clip-path: circle(1000px at -10% 10%);
    
    z-index: 1;
  }
 
  nav .search-container {
    display: none;
  }

  .main {
    min-height: 675px;
  }
  
  .info {
    position: absolute;
    top: 0;
    left: 20;
  }

  .visit {
    position: absolute;
    top: 0;
    left: 230;
  }

  .hours {
    position: absolute;
    top: 170;
    left: 20;
  }

  .social {
    position: absolute;
    top: 170;
    left: 230;
    display: block;
  }

  .email {
    position: absolute;
    top: 340;
    left: 20;
  }


}

