* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2% repeat(16, 1fr) 2%;
  grid-template-rows: 5% repeat(14, 1fr) 5%;
}

.example {
  height: 100%;
  width: 100%;
}

.example1 {
  grid-column: 2/5;
  grid-row: 2;
  background-color: #ffc784; 
  padding: 15px;
  color: white;
  text-shadow: 1px 1px 2px #181818;
  border-radius: 10px;
  line-height: 25px;
}

.example2 {
  grid-column: 5/6;
  grid-row: 2;
}

.example2 button {
  color: white;
  margin: 3px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  margin-left: 10px;
}

.example2 button.button1 {
  background: rgb(255,204,136);
  background: linear-gradient(90deg, rgba(255,204,136,1) 0%, rgba(253,171,29,1) 50%, rgba(255,132,0,1) 100%);
}

.example2 button.button1:hover{ 
  background: rgb(218,173,113);
  background: linear-gradient(90deg, rgba(218,173,113,1) 0%, rgba(228,155,27,1) 50%, rgba(167,92,12,1) 100%);
}

.example2 button.button2 {
  background: rgb(226,187,255);
  background: linear-gradient(90deg, rgba(226,187,255,1) 0%, rgba(185,101,226,1) 50%, rgba(143,0,171,1) 100%);
}

.example2 button.button2:hover {
  background: rgb(197,161,224);
  background: linear-gradient(90deg, rgba(197,161,224,1) 0%, rgba(135,74,164,1) 50%, rgba(117,0,140,1) 100%);
}

.example3 {
  grid-column: 6/8;
  grid-row: 2/3;
  background-color: #dedede;
  padding: 10px;  
  border-radius: 10px;
}

.example3 button {
  margin: 10px 4px 4px;
  padding: 8px;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #4e4e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .22s;
}

.example3 button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  filter: brightness(130%);
}

.example3 button.b1 {
  background-color: #b94970;
  color: white;
}

.example3 button.b2 {
  color: #b94970;
  background-color: #ebe9e9
}

.example4 {
  grid-column: 9/12;
  grid-row: 2/3;
  background-color: #f2f2f2;
  text-align: center;
  padding: 25px;
  width: 400px;
  font-size: 18px;
  border-radius: 10px;
}

.example4 button{
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
}


.example4 button.b1{
  border: 2px solid #ebe9e9;
  background: transparent;
  color: black;
}

.example4 .b1:hover{
  background: #dedede;
}

.example4 .b2{
  background: #e10b0b;
  color: white;
}

.example4 .b2:hover{
  background: #bf0707;
}

.example5 {
  grid-column: 2/10;
  grid-row: 4;
  height: 60px;
  background-color: #75b9ac;
}

.example5 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example5 li {
  float: left;
}

.example5 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
}


.example5 #search input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  background-color: ;
  color: #88d4c5;
}

.example6 {
  grid-column: 15/18;
  grid-row: 2/3;
  background-color: #ececec;
  border-radius: 5px;
}

.example6 .b {
  font-size: 16px;
  padding: 16px;
  margin: 30px 80px;
  border-radius: 15px;
  border: 2px solid #dedede;
}

.example6 .b:hover {
  background-color: #dedede
}

.example7 {
  grid-column: 11/14;
  grid-row: 4/10;
  background-color: #88d4c5;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px
}

.example7 p{
  margin: 15px;
}

.example7 ul {
  list-style-type: none;
}

.example7 li {
  padding: 3px;
}

.example7 img {
  text-align: center;
  padding: 0 10px;
}

.example8 {
  grid-column: 14/18;
  grid-row: 4/10;
  padding: 10px;
}

.example8 .box {
  border-radius: 5px;
}

.example8 .top-box {
  background-color: #f9f9f9;
  border-radius: 5px 5px 0 0;
  padding: 1px;
  text-align: center;
}

.example8 .bottom-box {
  background-color: #f1f1f1;
  border-radius: 0 0 5px 5px;
  padding: 10px;
}

.example8 .button {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.example8 .button .lorem {
  color: white;
  background-color: #b30000;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.example8 .button .ipsum {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #dadada;
  margin-left: 3px;
  font-size: 16px;
}

.example9 {
  grid-column: 2/10;
  grid-row: 6/13;
  background-color: #dadada;
}

.example9 .header {
  background-color: #f2f2f2;
  margin: 0;
  border-bottom: 2px solid #ff929c;

}

.example9 .logo {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px;
}

.example9 .nav {
  height: 45px;
  width: 90%;
  margin: 0;
}

.example9 .nav ul li {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  list-style: none;
  padding: px;
  position: absolute;
  top: 312px;
  left: 600px;
}

.example9 .body {
  padding: 20px;
}

.example9 .title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px;
}

.example9 .sub {
  padding: 10px;
}

.example9 button {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  border: 2px solid #ff929c;
  border-radius: 10px;
  font-size: 16px;
}

.example9 button:hover {
  background-color: #ff929c;
  color: white;
  text-shadow: 1px 1px 1px #535353;
}

.example10 {
  margin: 30px;
  position: relative;
}

.example10 .bgback {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.example10 .bg {
  background: url("https://imagescbs.blob.core.windows.net/images/4c4d57345651506f614a624f2f794f2f655375672f413d3d/900x450.jpg")no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 900px;
  height: 450px;
  position: absolute;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  z-index: -1;
}

.example10 .header {
  width: 900px;
  display: flex;
  margin: 0;
  padding: 0;
}

.example10 ul li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  margin: 10px;
}

.example10 h3 {
  margin-left: 370px;
  font-size: 25px;
  color: #117a65;
}

.example10 .body {
  background-color: #dadada;
  opacity: .7;
  padding: 20px;
  width: 800px;
  margin: 50px;
}

.example10 .body .title {
  letter-spacing: 1px;
  font-size: 20px
}

.example10 .body .sub {
  padding: 10px;
}

.example10 button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #117a65;
  color: white;
  
}