* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #e2c396;
  margin: 0 auto;
}

.nav, ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.li, a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}

.main-image {
  height: 700px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1462850932907-687c915e3d38?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position:center center;

}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.example {
  height: 230px;
  width: 230px;
  margin-top: 400px;
  background-color: #e2c396;

}

.example1 {
  height: 220px;
  width: 220px;
  background: url("https://images.unsplash.com/photo-1532710093739-9470acff878f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position:center center;
